<!DOCTYPE html>
<html lang="pt"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://tymeleaf.org">

<head>

</head>
<body>
	<div class="" th:if="${not #strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>
</body>
</html>