.imagem-hortalica{
    height: 350px;
    width: 350px;
}

.labelHortalica{
	text-align:center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: #F8F8FF;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	margin-bottom: 0px;
	font-size: 22px;
}
.labelHortalica:hover{
	border: 2px solid;
  	color: #8B4513;
}

.button{
	float: right;
	font-size: 16px;
}